* {
    box-sizing: border-box;
    background-color: white;
}

body {
    background-color: lightgray;
}

.navbar {
    position: fixed;
}

.img-fluid {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-li {
    line-height: 4;

}



.scroll {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    margin: auto;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroll div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -2);
}

.scroll .test {
    white-space: nowrap;
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) * -2);
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(100%);
    }
}


.scroll div span:hover {
    background-color: #4caf50;
    cursor: pointer;
}

.imgbx {
    position: relative;
}

.imgbx img {
    max-width: 100px;
    transition: 0.5s;
}

.imgbx img:hover {
    scale: 1.2;
    filter: grayscale(1);
}

.imgbx div:hover {
    animation-play-state: paused;
}